<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-6">
        <div class="mb-3">
            <form action="/sms/download" method="post" enctype="multipart/form-data">
                {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                {{/if}}
                {{#if message}}
                <div class="alert alert-primary" role="alert">
                    {{message}}
                </div>
                {{/if}}
                <label for="formFileLg" class="form-label">Excel faylni tanlang</label>
                <input class="form-control form-control-lg" id="formFileLg" name="file" type="file">
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Yuklash</button>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS va undagi kiritilgan qo'shimchalar -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- JavaScript funksiyasi -->
<script>
    function uploadFile() {
        const fileInput = document.getElementById('formFileLg');
        const file = fileInput.files[0];
        if (!file) {
            alert('Iltimos, yuklash uchun faylni tanlang');
            return;
        }
        // Fayl yuklanganida kerakli amallar
    }
</script>